@font-face {
  font-family: 'Alanis';
  src: url('../public/AlanisHand.ttf');
  font-style:normal;
  font-weight: 100;
}

html {
    margin:0;
    height:100%;
    background-image: url(../public/astrocat1.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 6rem;
    min-height: 70vh;
  
  }

  h1 {
    color: white;
    font-family: Alanis;
    font-size: 5rem;
  }
  
.backButton {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: white solid 10px;
  color:none;
  background: none;
  
}

.content {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}